.profile-body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f; 
    color: #ffffff; 
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    padding: 20px;
    background-color: #1f1f1f; 
    color: #ffffff; 
    
  }
  
  .profile-content {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #292929; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); 
    text-align: center;
  }
  
  .profile-content p {
    margin-bottom: 10px;
  }
  
  .profile-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #688fb8; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .profile-content button:hover {
    background-color: #0056b3; 
  }
  
  @media (max-width: 768px) {
    .profile-content {
      padding: 10px;
    }
  }